/*Style for Anaconda*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section {
  font-family: "M PLUS Rounded 1c", sans-serif;
}
nav {
  align-items: center;
}
table {
  margin-top: 30px;
  margin-left: 65px;
  margin-right: 65px;
  max-width: 1200px;
  width: 100%;
  
}
nav table td img {
  height: 37px;
}
nav table td label {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 40px;
  top: -10px;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
  font-weight: 500;
}
table td input {
  border: 0px solid white;
  height: 45px;
  width: 150px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  background-color: #0a1a0fda;
  color: white;
  cursor: pointer;
}
table td input:hover{
  background-color: rgb(20, 73, 94);
  
}
article {
  text-align: center;
}

div h1 {
  margin-top: 50px;
  line-height: 40px;
  font-size: 65px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.836);
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 20px;
  color: #22a039da;
  font-size: 60px;
  font-weight: 400;
}
.articleP1 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.575);
}
a input {
  margin-bottom: 16px;
  border: 0px solid white;
  height: 55px;
  width: 180px;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 700;
  background-color: #22a039da;
  color: white;
  cursor: pointer;
}
input:hover {
  background-color:  #175723da;
}
div h4 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.589);
  font-weight: 500;
  line-height: 27px;
}
div p {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.603);
  font-size: 17px;
  margin-bottom: 20px;
}
figure img {
  height: 20px;
}
